@use "app/design-system/styles/variables" as *;

.text-block {
  padding: $space-3 $space-5;
  width: 100%;

  &__content {
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    color: $color-text;
    line-height: $line-height-base;
    letter-spacing: 0.02em;
  }
}
