@use "app/design-system/styles/variables" as *;

.image-block {
  padding: $space-3 $space-5;
  width: 100%;

  &__img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-md;
    transition:
      transform $transition-slow,
      box-shadow $transition-slow;

    &:hover {
      transform: scale(1.01);
      box-shadow: $shadow-lg;
    }
  }
}
